{% extends "base.html" %}
{% block content %}
<div id='alarm-info'>
    <table id='alarm-info-table'>
        <tr>
            <td>
                Имя
            </td>
            <td>
                IP
            </td>
        </tr>
        <tr>
            <td>
                {{ alarm.control_point.name }}    
            </td>
            <td>
                {{ alarm.control_point.ip }}    
            </td>
        </tr>
        <tr>
            <td>DOWN</td>
            <td>UP</td>
        </tr>
        <tr>
            <td>{{ alarm.down|date:'H:i d/m/y' }}</td>
            <td>
            {% if alarm.up != NULL %}
                {{ alarm.up|date:'H:i d/m/y' }}
            {% endif %}
            </td>
        </tr>
        <tr>
            <td colspan="2">Комментарий</td>
        </tr>
        <tr>
            <td colspan="2"><textarea id='alarm-comment'>{{ alarm.comment}}</textarea></td>
        </tr>
        <tr>
            <td colspan="2"> <a href="." class="menu-grey-button" id={{alarm.id}} rel='submit-comment'>Сохранить</a></td>
        </tr>
    </table>
   
</div>
{% endblock %}

{% block javascript %}
<script language="javascript" type="text/javascript">
    $("a[rel^='submit-comment']").click(function (event) {
            event.preventDefault();
            var comment = $('#alarm-comment').val();
            console.log(comment);
            var path = location.host;
            var id = $(this).attr('id');
            $.get( "//"+path+"/alarm_info/"+id, 'comment='+comment);
    });
</script>
{% endblock %}
