{% extends "base.html" %}
{% load filterfortree %}
{% block page_title %}Network monitor{% endblock %}
{% block content %}
<audio id="bgsound">
  <source src="{{ STATIC_URL }}snd/alarm.wav" />
</audio>

<div id='monitor-top-div'>
    blah blah blah
</div>

<div id='reload-container'>
<div id='reload-div' name={{alarm}}>
<div id='monitor-table-div'>
    <table id='monitor-table'>
        <tr>
            <td align="center">Control point</td>
            <td align="center">Status</td>
        </tr>
        {% for cp in cp_query %}
        <tr>
            {% with name=cp.name %}
                <td>{{ name }}</td>
                {% with res=name|get_by_key:cp_ping %}
                    {% if res %}
                    <td bgcolor="#47D147" align="center">UP</td>
                    {% else %}
                    <td bgcolor="#FF3333" align="center">DOWN</td>
                    {% endif %}
                    
                {% endwith %}
            {% endwith %}
        </tr>
        {% endfor%}
    </table>
</div>

<div id='monitor-log-down-div'>
    CURRENT ALARMS
    {% for alarm in alarm_query_down %}
        <a href="javascript:void(0)" onclick="showalarminfo({{alarm.id}});" class="alarm-down">
        {% if alarm.comment == ''%}
            &emsp;
        {% else %}
            &#x2713;
        {% endif %}
        {{ alarm.down|date:'H:i d/m/y' }}&emsp;{{ alarm.control_point.name }}</a>
    {% endfor %}
</div>
<div id='monitor-log-up-div'>
    PREVIOUS ALARMS
    {% for alarm in alarm_query_up %}
        <a href="javascript:void(0)" onclick="showalarminfo({{alarm.id}});" class="alarm-up">
        {% if alarm.comment == ''%}
            &emsp;
        {% else %}
            &#x2713;
        {% endif %}
        {{ alarm.down|date:'H:i d/m/y' }}&emsp;{{ alarm.control_point.name }}</a>
    {% endfor %}
</div>
</div>
</div>

<div id='monitor-info-div'>
</div>


{% endblock %}

{% block javascript %}
<script language="javascript" type="text/javascript">

    function showalarminfo(id){
        console.log(id);
        var path = location.host;
        $('#monitor-info-div').load("//"+path+"/alarm_info/"+id);
    }

    window.setInterval(function(){
        var path = location.host;
        $('#reload-container').load("//"+path+"/show_group/"+{{group.id}}+" #reload-div", function(){
            var alarm = $('#reload-div').attr('name');
            if (alarm == 'True') {
                document.getElementById('bgsound').play();
            }
        });

    }, 60000);
</script>
{% endblock %}
