h1 {
  font-family:Arial;
  font-size:15px;
  font-weight:normal;
  font-style:normal;
}

#leftmenu {
  * position: absolute;position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 220px;
  overflow-y: scroll;
  font-family:Arial;
  font-size:15px;
  font-weight:normal;
  font-style:normal;
}

#content {
  * position: absolute;position: fixed;
  top: 40px;
  left: 220px;
  height: -webkit-calc(100% - 40px);
  height: -moz-calc(100% - 40px);
  height: calc(100% - 40px);
  width: -webkit-calc(100% - 220px);
  width: -moz-calc(100% - 220px);
  width: calc(100% - 220px);
}

#uppermenu {
  * position: absolute;position: fixed;
  top: 10px;
  left: 220px;
  height: 30px;
  width: -webkit-calc(100% - 220px);
  width: -moz-calc(100% - 220px);
  width: calc(100% - 220px);
  font-family:Arial;
  font-size:12px;
  font-weight:normal;
  font-style:normal;
}

#uppermenu form {
    margin: 0 auto;
    width: 450px;
}

#uppermenu input {
  border: 1px solid #000000; 
  background-color: #FFFFFF;
  font-family:Arial;
  font-size:12px;
  font-weight:normal;
  font-style:normal;
}

#table-div {
  height: -webkit-calc(100% - 35px);
  height: -moz-calc(100% - 35px);
  height: calc(100% - 35px);  
  overflow-y: scroll;
}

#monitor-top-div {
  * position: absolute;position: fixed;
  height: 40px;
  width: 100%;
  background: #CCCCCC;
}

#monitor-table-div {
  * position: absolute;position: fixed;
  width: 480px;
  top: 40px;
  height: -webkit-calc(100% - 42px);
  height: -moz-calc(100% - 42px);
  height: calc(100% - 42px);
}

#monitor-log-down-div {
  * position: absolute;position: fixed;
  width: 252px;
  top: 40px;
  left:480px;
  height: -webkit-calc(100% - 42px);
  height: -moz-calc(100% - 42px);
  height: calc(100% - 42px); 
  overflow-y: scroll;
}

#monitor-log-up-div {
  * position: absolute;position: fixed;
  width: 252px;
  top: 40px;
  left:735px;
  height: -webkit-calc(100% - 42px);
  height: -moz-calc(100% - 42px);
  height: calc(100% - 42px); 
  overflow-y: scroll;
}

#monitor-info-div {
  * position: absolute;position: fixed;
  top: 40px;
  left:990px;
  height: -webkit-calc(100% - 42px);
  height: -moz-calc(100% - 42px);
  height: calc(100% - 42px);
}

#monitor-table {
  border: 2px solid white;
  padding: 2px;
  font-family:Arial;
  font-size:14px;
  font-weight:normal;
  font-style:normal;
  color:#000000;
}

#monitor-table td{
  border: 2px solid white;
  padding: 2px;
  width: 150px;
}

#alarm-info-table {
  border: 2px solid white;
  padding: 2px;
  background-color: #ededed;
  font-family:Arial;
  font-size:14px;
  font-weight:normal;
  font-style:normal;
  color:#000000;
}

#alarm-info-table tr:nth-child(even) {
  background-color: #ededed;
}

#alarm-info-table tr:nth-child(odd) {
  background-color: #dfdfdf;
  font-weight:bold;
}

#alarm-info-table td{
  border: 2px solid white;
  padding: 2px;
  width: 150px;
  text-align: center;
}

#alarm-info-table textarea{
  width: 270px;
}

.menu-table {
  width: 500px;
  margin: 0 auto;
}

.table-row {
	padding: 0px;
}

.users-table {
  border: 1px solid white;
  padding: 2px;
  background-color: #ededed;
  font-family:Arial;
  font-size:12px;
  font-weight:normal;
  font-style:normal;
  color:#000000;
}

.users-table td{
  width: 10px;
  border: 2px solid white;
  white-space: nowrap;
}

.users-table input {
  border: 1px solid #000000; 
  background-color: #FFFFFF;
}

.table-row:hover {
  background-color: #dfdfdf;
}

#yeslbl {
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  font-style:normal;
  color:#006B00;
}

#nolbl {
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  font-style:normal;
  color:#941515;
}

@-moz-keyframes blinker {  /* Decimal not necessary, 0 and 1 is enough */
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blinker {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

#blinklbl {
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  font-style:normal;
  color:#941515;
  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

.flat-grey-button {
  background-color:#ededed;
  -webkit-border-top-left-radius:0px;
  -moz-border-radius-topleft:0px;
  border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -moz-border-radius-topright:0px;
  border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  -moz-border-radius-bottomright:0px;
  border-bottom-right-radius:0px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px;
  border-bottom-left-radius:0px;
  text-indent:0;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#000000;
  font-family:Arial;
  font-size:11px;
  font-weight:normal;
  font-style:normal;
  height:17px;
  line-height:17px;
  width:60px;
  text-decoration:none;
  text-align:center;
}

.flat-grey-button:hover {
  background-color:#dfdfdf;
}

.flat-grey-button:active {
  position:relative;
  top:1px;
}

.menu-grey-button {
  background-color:#ededed;
  -webkit-border-top-left-radius:0px;
  -moz-border-radius-topleft:0px;
  border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -moz-border-radius-topright:0px;
  border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  -moz-border-radius-bottomright:0px;
  border-bottom-right-radius:0px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px;
  border-bottom-left-radius:0px;
  text-indent:0;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#000000;
  font-family:Arial;
  font-size:13px;
  font-weight:normal;
  font-style:normal;
  height:30px;
  line-height:30px;
  width:105px;
  text-decoration:none;
  text-align:center;
}

.menu-grey-button:hover {
  background-color:#dfdfdf;
}

.menu-grey-button:active {
  position:relative;
  top:1px;
}

input[name='house'],input[name='flat']{
  width: 4em;
}

input[name='dogovor']{
  width: 4em;
}

input[name='sw_port']{
  width: 3em;
}

input[name='ip'],input[name="main_ip"],input[name="sw_ip"]{
  width: 8em;
}
input[name='mac']{
  width: 9em;
}

#div-table {
  color: #FFFFFF;
  padding:1px;
  display: table;
  border: 2px solid white;
}

#div-row  {
  display: table-row;
}

#div-street {
  width:150px;
  padding:1px;
  background: #CCCCCC;
  border: 2px solid white;
  display: table-cell;
}

#div-house {
  width:50px;
  padding:0px;
  background: #CCCCCC;
  border: 2px solid white;
  display: table-cell;
}

.alarm-down {
  background-color:#ffa1a1;
  text-indent: 0px;
  padding: 2px;
  border:1px solid white;
  display:inline-block;
  color:#000000;
  font-family:Arial;
  font-size:14px;
  font-weight:normal;
  font-style:normal;
  height:16px;
  line-height:16px;
  width:230px;
  text-decoration:none;
  text-align:left;
}
.alarm-down:hover {
  background-color:#ff3333;
}
.alarm-down:active {
  position:relative;
  top:1px;
}

.alarm-up {
  background-color:#ededed;
  text-indent: 0px;
  padding: 2px;
  border:1px solid white;
  display:inline-block;
  color:#000000;
  font-family:Arial;
  font-size:14px;
  font-weight:normal;
  font-style:normal;
  height:16px;
  line-height:16px;
  width:230px;
  text-decoration:none;
  text-align:left;
}
.alarm-up:hover {
  background-color:#dfdfdf;
}
.alarm-up:active {
  position:relative;
  top:1px;
}