h1 {
  font-family:Arial;
  font-size:15px;
  font-weight:normal;
  font-style:normal;
}

#leftmenu {
  * position: absolute;position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 220px;
  overflow-y: scroll;
  font-family:Arial;
  font-size:15px;
  font-weight:normal;
  font-style:normal;
}

#content {
  * position: absolute;position: fixed;
  top: 70px;
  left: 220px;
  height: -webkit-calc(100% - 70px);
  height: -moz-calc(100% - 70px);
  height: calc(100% - 70px);
  width: -webkit-calc(100% - 220px);
  width: -moz-calc(100% - 220px);
  width: calc(100% - 220px);
  overflow-y: scroll;
}

#uppermenu {
  * position: absolute;position: fixed;
  top: 10px;
  left: 220px;
  height: 60px;
  width: -webkit-calc(100% - 220px);
  width: -moz-calc(100% - 220px);
  width: calc(100% - 220px);
  font-family:Arial;
  font-size:12px;
  font-weight:normal;
  font-style:normal;
}

#uppermenu form {
    margin: 0 auto;
    width: 450px;
}

#uppermenu input {
    border: 1px solid #000000; 
    background-color: #FFFFFF;
    font-family:Arial;
    font-size:12px;
    font-weight:normal;
    font-style:normal;
}

.menu-table {
    width: 500px;
    margin: 0 auto;
}

.table-row {
	padding: 0px;
}

.users-table {
    border: 1px solid white;
    padding: 2px;
    background-color: #ededed;
    font-family:Arial;
    font-size:12px;
    font-weight:normal;
    font-style:normal;
    color:#000000;
}

.users-table td{
    width: 10px;
    border: 2px solid white;
    white-space: nowrap;
}

.users-table input {
    border: 1px solid #000000; 
    background-color: #FFFFFF;
}

.table-row:hover {
    background-color: #dfdfdf;
}

#yeslbl {
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    font-style:normal;
    color:#006B00;
}
#nolbl {
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    font-style:normal;
    color:#941515;
}

.flat-grey-button {
    background-color:#ededed;
    -webkit-border-top-left-radius:0px;
    -moz-border-radius-topleft:0px;
    border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    border-top-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-radius-bottomright:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
    text-indent:0;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#000000;
    font-family:Arial;
    font-size:11px;
    font-weight:normal;
    font-style:normal;
    height:17px;
    line-height:17px;
    width:60px;
    text-decoration:none;
    text-align:center;
}

.flat-grey-button:hover {
    background-color:#dfdfdf;
}

.flat-grey-button:active {
    position:relative;
    top:1px;
}

.menu-grey-button {
    background-color:#ededed;
    -webkit-border-top-left-radius:0px;
    -moz-border-radius-topleft:0px;
    border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    border-top-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-radius-bottomright:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
    text-indent:0;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#000000;
    font-family:Arial;
    font-size:13px;
    font-weight:normal;
    font-style:normal;
    height:30px;
    line-height:30px;
    width:105px;
    text-decoration:none;
    text-align:center;
}

.menu-grey-button:hover {
    background-color:#dfdfdf;
}

.menu-grey-button:active {
    position:relative;
    top:1px;
}