{% extends "base.html" %}
{% load filterfortree %}
{% block page_title %}Users{% endblock %}
{% block content %}
<div id="leftmenu">
    <ol>
        {% for street in streets_query %}
        <li>
            <label for={{ street.short_name }}>{{ street.long_name }}</label>
            <input type="checkbox" id={{ street.short_name }}>
            <ol id={{ street.short_name }}>
                {% for houses in clients_query|filter_house:street.short_name %}
                {% with h=street.short_name|add:"/"|add:houses.house %}
                <li class="file"><a href="." rel="ids" id={{ h }}>{{ houses.house }}</a></li>
                {% endwith %}
                {% endfor %}
            </ol>
        </li>
        {% endfor %}
    </ol>
</div>

<div id="uppermenu">
    <form action="//127.0.0.1:8000/ABNS/" method="post" id="search">
        {% csrf_token %}
        Договор: <INPUT type="text" name="dogovor" size="5" maxlength="6">
        IP: <INPUT type="text" name="ip" size="12" maxlength="15">
        MAC: <INPUT type="text" name="mac" size="15" maxlength="17">
        <a href="." class="flat-grey-button" rel="srch">Найти</a>
    </form>

    
</div>

<div id="content">
</div>

{% endblock %}

{% block javascript %}
<script language="javascript" type="text/javascript">
   

    // search functions block
    $("a[rel^='srch']").click(function (event) {
        event.preventDefault();
        var data = $("#search").serialize();
        console.log(data);
        $("#content").load("//127.0.0.1:8000/search/",data);
    });

    $("#search").submit(function (event) {
        event.preventDefault();
        var data = $("#search").serialize();
        console.log(data);
        $("#content").load("//127.0.0.1:8000/search/",data);
    });

    $('#search input').keydown(function(e) {
        if (e.keyCode == 13) {
            var data = $("#search").serialize();
            console.log(data);
            $("#content").load("//127.0.0.1:8000/search/",data);
        }
        
    });
    // end search functions block

    // left treeview menu functions
    $("a[rel^='ids']").click(function (event) {
        event.preventDefault();
        var host=$(location).attr('host');
        var addr=$(this).attr('id').split("/");
        var path="//127.0.0.1:8000/clients/"+addr[0]+"/"+addr[1]+"/";
        $("#content").load(path);
    });
    // end treeview menu functions
</script>
{% endblock %}
