{% extends "base.html" %}
{% load filterfortree %}
{% block page_title %}Users{% endblock %}
{% block content %}
<div id="leftmenu">
    <ol>
        {% for street in streets_query %}
        <li>
            <label for={{ street.short_name }}>{{ street.long_name }}</label>
            <input type="checkbox" id={{ street.short_name }}>
            <ol id={{ street.short_name }}>
                {% for houses in clients_query|filter_house:street %}
                {% with streetname=street.short_name %}
                    {% with h=streetname|get_string_by_key:streets_pk %}
                            {% with houseid=h|add:"/"|add:houses.house %}
                            <li class="file"><a href="." rel="ids" id={{ houseid }}>{{ houses.house }}</a></li>
                            {% endwith %}
                    {% endwith %}
                {% endwith %}
                {% endfor %}
            </ol>
        </li>
        {% endfor %}
    </ol>
</div>

<div id="uppermenu">
    <form action="//127.0.0.1:8000/ABNS/" method="post" id="search">
        {% csrf_token %}
        Договор: <INPUT type="text" name="dogovor" maxlength="6">
        IP: <INPUT type="text" name="ip" maxlength="15">
        MAC: <INPUT type="text" name="mac" maxlength="17">
        <a href="." class="flat-grey-button" rel="srch">Найти</a>
    </form>

    
</div>

<div id="content">
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript" src='{{ STATIC_URL }}js/streets_tree.js'></script>
<script language="javascript" type="text/javascript">
   

    // search functions block
    $("a[rel^='srch']").click(function (event) {
        event.preventDefault();
        var data = $("#search").serialize();
        console.log(data);
        $("#content").text("Идет поиск...");
        $("#content").load("//127.0.0.1:8000/search/",data);
    });

    $('#search input').keydown(function(e) {
        if (e.keyCode == 13) {
            var data = $("#search").serialize();
            console.log(data);
            $("#content").text("Идет поиск...");
            $("#content").load("//127.0.0.1:8000/search/",data);
        }
        
    });
    // end search functions block

    // left treeview menu functions

    // end treeview menu functions
</script>
{% endblock %}
