{% extends "base.html" %}
{% block content %}
<table class="users-table" id="#usertable">
        <tr>
                <td>Квартал</td>
                <td>Дом</td>
                <td>Кв</td>
                <td>Договор</td>
                <td>IP</td>
                <td>Основной IP</td>
                <td></td>
                <td></td>
                <td></td>
                <td>Блок</td>
                <td>Актив</td>
        </tr>
{% for entry in entries %}
        <tr class="table-row">
                {% with template="//127.0.0.1:8000/ABNS/clients/"|add:entry.street|add:"/"|add:entry.house|add:"/" %}
                {% with n=entry.street|add:"-"|add:entry.house|add:"-"|add:entry.flat %}
                <form action={{ template }} method="post" name={{ n }}>
                {% endwith %}
                {% endwith %}
                {% csrf_token %}
                <input type="hidden" name="id" value={{ entry.id }}>
                {% include "streetsfield.html" %}
                {% include "userrowfield.html" %}
                <td width="5%"><a href="." class="service-button" rel="srv">Сервис</a></td>
                {% with r=forloop.counter|stringformat:"d" %}
                <td width="5%"><a href="." class="change-button" name={{ r }} rel="chg">Изменить</a></td>
                {% endwith %}
                {% with i=entry.id|stringformat:"d" %}
                <td width="5%"><a href="." class="delete-button" name={{ i }} rel="del">Удалить</a></td>
                {% endwith %}
                
                {% if entry.active_state %}
                <td width="5%">
                <label id="yeslbl"><input type="checkbox" class="checkbox" value="1" name="1" checked="checked" />YES</label>
                </div>
                </td>
                {% else %}
                <td width="5%">
                <label id="nolbl"><input type="checkbox" class="checkbox" value="1" name="1"/>NO</label>
                </div>
                </td>
                {% endif %}

                {% if entry.lock_state %}
                <td width="5%">
                <label id="yeslbl"><input type="checkbox" class="checkbox" value="1" name="1" checked="checked" />YES</label>
                </div>
                </td>
                {% else %}
                <td width="5%">
                <label id="nolbl"><input type="checkbox" class="checkbox" value="1" name="1"/>NO</label>
                </div>
                </td>
                {% endif %}
                <td>port</td>
                </form>
        </tr>
{% endfor %}
</table>
{% endblock %}

{% block javascript %}
    <script language="javascript" type="text/javascript">
    $("a[rel^='chg']").click(function (event) {
        event.preventDefault();
        var n = $(this).parents().find("form").eq(parseInt($(this).attr("name"))).attr("name");
        console.log($(this).parents().find("form").eq(parseInt($(this).attr("name"))).serialize());
        var action = confirm('Вы уверены, что желаете внести изменения в данные клиента '+n+'?');
        if(action){
            $(this).parents().find("form").eq(parseInt($(this).attr("name"))).submit();
        }
    });
    </script>

    <script language="javascript" type="text/javascript">
    $("a[rel^='del']").click(function (event) {
        event.preventDefault();
        var n = $(this).attr("name");
        
        var action = confirm('Вы уверены, что желаете внести изменения в данные клиента '+n+'?');
        if(action){
            window.location.replace("//127.0.0.1:8000/delete/"+n+"/Ba/3/");
        }
        

    });
    </script>
{% endblock %}