{% extends "base.html" %}
{% load filterfortree %}
{% block content %}
{% include "menubuttons.html" %}
<div id="table-div">
<b>Направление {{ entrance }}</b>
<br>
<table class="users-table" id="usertable">
    <tr>
        <td>Квартал/улица</td>
        <td>Дом</td>
        <td>Квартира</td>
        <td>Договор</td>
        <td>IP</td>
        <td>Основной IP</td>
        <td></td>
        <td></td>
        <td></td>
        <td>Активация</td>
        <td>Блокировка</td>
        <td>Порт</td>
        <td>link</td>
    </tr>
    {% for entry in entries %}
    <tr class="table-row">
    {% with i=entry.id|stringformat:"d"|add:"/"|add:st_id|add:"/"|add:ho_id %}
        <form action="." method="post" id={{ i }}>
            
            <input type="hidden" name="id" value={{ entry.id }}>
            {% include "streetsfield.html" %}
            {% include "userrowfield.html" %}
            <td><a href="." class="flat-grey-button" rel="srv">Сервис</a></td>    
                <td><a href="." class="flat-grey-button" name={{ i }} rel="chg">Изменить</a></td>
                <td><a href="." class="flat-grey-button" name={{ i }} rel="del">Удалить</a></td>
                {% csrf_token %}
        </form>

                <td>
                {% if entry.active_state %}
                    <label id="yeslbl">
                        <input type="checkbox" id="activated" name={{ i }} checked="checked" />ДА
                    </label>
                {% else %}
                    <label id="nolbl">
                        <input type="checkbox" id="activated" name={{ i }}  />НЕТ
                    </label>
                {% endif %}
                </td>
                <td>
                {% if entry.lock_state %}
                    <label id="nolbl">
                        <input type="checkbox" id="locked" name={{ i }} checked="checked" />ДА
                    </label>
                {% else %}
                    <label id="yeslbl">
                        <input type="checkbox" id="locked" name={{ i }} />НЕТ
                    </label>
                {% endif %}
                </td>
                
                {% with switch=entry.switch.sw_ip %}
                    {% with port=entry.sw_port %}
                        {% with pp=port|stringformat:"d" %}
                            {% with p=switch|add:":"|add:pp %}
                                {% if switch == "0.0.0.0" or port == 0%}
                                    <td><label id="blinklbl">???</label></td>
                                    <td><label id="blinklbl">???</label></td>
                                {% else %}
                                
                                        
                                    {% if p|check_port:ports == True %}
                                        <td><label id="yeslbl"><input type="checkbox" id="portstatus" name={{ p|add:":"|add:st_id|add:":"|add:ho_id }} checked="checked" />UP</label></td>
                                    {% else %}
                                        <td><label id="nolbl"><input type="checkbox" id="portstatus" name={{ p|add:":"|add:st_id|add:":"|add:ho_id }} />DOWN</label></td>
                                    {% endif %}

                                    {% if p|check_link:links == True %}
                                        <td><label id="yeslbl">UP</label></td>
                                    {% else %}
                                        <td><label id="nolbl">DOWN</label></td>
                                    {% endif %}

                                {% endif %}
                            {% endwith %}
                        {% endwith %}
                    {% endwith %}
                {% endwith %}

    {% endwith %}
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src='{{ STATIC_URL }}js/menu_buttons.js'></script>

<script language="javascript" type="text/javascript">
    $("a[rel^='chg']").click(function (event) {
        event.preventDefault();
        var n = $(this).attr("name");
        console.log(n);
        var addr = n.split("/");
        var t = 'form[id="'+n+'"]';
        var data = $(t).serialize();
        console.log(data);
        var path = location.host;
        var action = confirm('Вы уверены, что желаете внести изменения?');
        if(action){
            $.post( "//"+path+"/clients/", data, function() {
                $("#content").text("Загружаю...");
                $("#content").load("//"+path+"/clients/"+addr[1]+'/'+addr[2]+'/');
            });
        }
    });

    $("input[id='activated']").change(function (event) {
        var n = $(this).attr("name");
        var addr = n.split("/");
        var path = location.host;
        var data = "";
        if (this.checked){
            data = "id="+addr[0]+"&act=True";
        }
        else {
            data = "id="+addr[0]+"&act=False";
        }
        $.get( "//"+path+"/activate/", data, function() {
            $("#content").text("Загружаю...");
            $("#content").load("//"+path+"/clients/"+addr[1]+'/'+addr[2]+'/');
        });
    });

    $("input[id='locked']").change(function (event) {
        var n = $(this).attr("name");
        var addr = n.split("/");
        var path = location.host;
        var data = "";
        if (this.checked){
            data = "id="+addr[0]+"&act=True";
        }
        else {
            data = "id="+addr[0]+"&act=False";
        }
        $.get( "//"+path+"/lock/", data, function() {
            $("#content").text("Загружаю...");
            $("#content").load("//"+path+"/clients/"+addr[1]+'/'+addr[2]+'/');
        });
    });

    $("input[id='portstatus']").change(function (event) {
        var n = ($(this).attr("name")).split(":");
        var path = location.host;
        var data="";
        if (this.checked){
            data = "sw="+n[0]+"&port="+n[1]+"&act=open";
        }
        else {
            data = "sw="+n[0]+"&port="+n[1]+"&act=close";
        }
        $.get( "//"+path+"/portaction/", data, function() {
            $("#content").text("Загружаю...");
            $("#content").load("//"+path+"/clients/"+n[2]+'/'+n[3]+'/');
        });
    });

    $("a[rel^='del']").click(function (event) {
        event.preventDefault();
        var n = $(this).attr("name").split("/");
        var data = "id="+n[0];
        var path = location.host;
        
        var action = confirm('Вы уверены, что желаете удалить информацию про клиента?');
        if(action){
            $.get( "//"+path+"/delete/", data, function() {
                $("#content").text("Загружаю...");
                $("#content").load("//"+path+"/clients/"+n[1]+'/'+n[2]+'/');
            });
        }
    });

</script>


{% endblock %}