{% extends "base.html" %}
{% load filterfortree %}
{% block content %}
{% include "menubuttons.html" %}

<div id="table-div">

{% for switch in sw_query %}
<b>{{ switch.sw_ip }}</b>
<table class="users-table" id="usertable">
    <tr>
        <td>Порт</td>
        <td>Статус порта</td>
        <td>Состояние линка</td>
        <td>Доверенный</td>
        <td>Базовый MAC-адрес</td>
        <td></td>
        <td></td>
        <td>Адрес</td>
    </tr>
    {% with switch_ip=switch.sw_ip %}
        {% with ports=switch_ip|get_by_key:macs_dict %}

            {% for port in ports %}
            {% with portid=port.id|stringformat:"d" %}
            <tr>
                <td> {{ port.sw_port }}</td>

                {% with pp=port.sw_port|stringformat:"d" %}
                    {% with p=switch_ip|add:":"|add:pp %}
                    {% with i=p|add:":"|add:st_id|add:":"|add:ho_id %}
                        {% if p|check_port:status_ports == True %}
                            <td><label id="yeslbl"><input type="checkbox" id="portstatus" name={{ i }} checked="checked" />UP</label></td>
                        {% else %}
                            <td><label id="nolbl"><input type="checkbox" id="portstatus" name={{ i }} />DOWN</label></td>
                        {% endif %}

                        {% if p|check_link:status_links == True %}
                            <td><label id="yeslbl">UP</label></td>
                        {% else %}
                            <td><label id="nolbl">DOWN</label></td>
                        {% endif %}

                        {% if p|get_by_key:status_trust %}
                            <td><label id="yeslbl"><input type="checkbox" id="trust" name={{ i }} checked="checked" />ДА</label></td>
                        {% else %}
                            <td><label id="nolbl"><input type="checkbox" id="trust" name={{ i }} />НЕТ</label></td>
                        {% endif %}
                        <form action="." method="post" id={{ portid }}>
                            {% csrf_token %}
                            <input type="hidden" name="id" value={{ portid }}>
                            <td><INPUT type="text" name="mac" maxlength="17" value={{ port.mac }}></td>

                            <td><a href="." class="flat-grey-button" name={{ i|add:":"|add:portid }} rel="chg">Изменить</a></td>

                            <td><a href="." class="flat-grey-button" name={{ i|add:":"|add:portid }} rel="del">Удалить</a></td>
                        </form>


                        {% with address=p|get_by_key:port_address %}
                            <td><b><center>{{ address }}</center></b></td>
                        {% endwith %}

                    {% endwith %}
                    {% endwith %}
                {% endwith %}
            </tr>
            {% endwith %}
            {% endfor%}
        {% endwith %}
    {% endwith %}

</table>
<br>
    


{% endfor %}
</div>
{% endblock %}


{% block javascript %}
<script type="text/javascript" src='{{ STATIC_URL }}js/menu_buttons.js'></script>
<script language="javascript" type="text/javascript">

    $("a[rel^='chg']").click(function (event) {
        event.preventDefault();
        var addr = $(this).attr("name").split(':');
        var t = 'form[id="'+addr[4]+'"]';
        var data = $(t).serialize();
        console.log(data);
        var action = confirm('Вы уверены, что желаете внести изменения?');
        var path = location.host;
        if(action){
            console.log("here");
            $.post( "//"+path+"/macs/", data, function() {
                $("#content").text("Загружаю...");
                $("#content").load("//"+path+"/macs/"+addr[2]+'/'+addr[3]+'/');
            });
        }
    });

    $("a[rel^='del']").click(function (event) {
        event.preventDefault();
        var addr = $(this).attr("name").split(':');
        var data = "id="+addr[4];
        console.log(data);
        var action = confirm('Вы уверены, что желаете удалить MAC-адрес?');
        var path = location.host;
        if(action){
            console.log("here");
            $.get( "//"+path+"/delete_mac/", data, function() {
                $("#content").text("Загружаю...");
                $("#content").load("//"+path+"/macs/"+addr[2]+'/'+addr[3]+'/');
            });
        }
    });

    $("input[id='portstatus']").change(function (event) {
        var n = ($(this).attr("name")).split(":");
        var data ="";
        if (this.checked){
            data = "sw="+n[0]+"&port="+n[1]+"&act=open";
        }
        else {
            data = "sw="+n[0]+"&port="+n[1]+"&act=close";
        }
        $.get( "//127.0.0.1:8000/portaction/", data, function() {
            $("#content").text("Загружаю...");
            $("#content").load("//127.0.0.1:8000/macs/"+n[2]+'/'+n[3]+'/');
        });
    });

    $("input[id='trust']").change(function (event) {
        var n = ($(this).attr("name")).split(":");
        var path = location.host;
        if (this.checked){
            var data = "sw="+n[0]+"&port="+n[1]+"&act=check";
        }
        else {
            var data = "sw="+n[0]+"&port="+n[1]+"&act=uncheck";
        }
        $.get( "//"+path+"/trustaction/", data, function() {
            $("#content").text("Загружаю...");
            $("#content").load("//"+path+"/macs/"+n[2]+'/'+n[3]+'/');
        });
    });

</script>
{% endblock %}