{% extends "base.html" %}
{% block content %}
<table class="users-table" id="#usertable">
    <tr>
        <td>Квартал/улица</td>
        <td>Дом</td>
        <td>Квартира</td>
        <td>IP клиента</td>
        <td>Основной IP</td>
        <td>MAC адресс</td>
        <td>IP коммутатора</td>
        <td>Порт</td>
        <td></td>
    </tr>
    {% for entry in entries %}
    <tr class="table-row">
        <form action="." method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value={{ entry.id }}>
            <td>{{ street }}</td>
            <td><INPUT type="text" name="house" id="id_house" size="4" maxlength="30" value={{ entry.house }}></td>
            <td><INPUT type="text" name="house" id="id_house" size="4" maxlength="30" value={{ entry.flat }}></td>
            <td><INPUT type="text" name="house" id="id_house" size="12" maxlength="30" value={{ entry.ip }}></td>
            <td><INPUT type="text" name="house" id="id_house" size="12" maxlength="30" value={{ entry.main_ip }}></td>
            <td><INPUT type="text" name="house" id="id_house" size="18" maxlength="30" value={{ entry.mac }}></td>
            <td><INPUT type="text" name="house" id="id_house" size="12" maxlength="30" value={{ entry.sw_ip }}></td>
            <td><INPUT type="text" name="house" id="id_house" size="4" maxlength="30" value={{ entry.sw_port }}></td>
            <td><a href="." class="flat-grey-button" rel="chg">Изменить</a></td>
        </form>
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block javascript %}
{% endblock %}