{% extends "base.html" %}
{% block content %}
<table class="menu-table">
        <tr>
            {% with a=st_id|add:"/"|add:ho_id%}
            {% with n="users/"|add:a %}
            <td><a href="." class="menu-grey-button" rel="menu" name={{ n }}>Пользователи</a></td>
            {% endwith %}
            {% with n="ports/"|add:a %}
            <td><a href="." class="menu-grey-button" rel="menu" name={{ n }}>Порты</a></td>
            {% endwith %}
            {% with n="switches/"|add:a %}
            <td><a href="." class="menu-grey-button" rel="menu" name={{ n }}>Коммутаторы</a></td>
            {% endwith %}
            {% with n="mac/"|add:a %}
            <td><a href="." class="menu-grey-button" rel="menu" name={{ n }}>MAC</a></td>
            {% endwith %}
            {% endwith %}
        </tr>
    </table>
<table class="users-table" id="#usertable">
    <tr>
        <td>Квартал/улица</td>
        <td>Дом</td>
        <td>Квартира</td>
        <td>IP клиента</td>
        <td>Основной IP</td>
        <td>MAC адресс</td>
        <td>IP коммутатора</td>
        <td>Порт</td>
        <td></td>
    </tr>
    {% for entry in entries %}
    <tr class="table-row">
        <form action="." method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value={{ entry.id }}>
            <td>{{ street }}</td>
            <td><INPUT type="text" name="house" id="id_house" size="4" maxlength="30" value={{ entry.house }}></td>
            <td><INPUT type="text" name="house" id="id_house" size="4" maxlength="30" value={{ entry.flat }}></td>
            <td><INPUT type="text" name="house" id="id_house" size="12" maxlength="30" value={{ entry.ip }}></td>
            <td><INPUT type="text" name="house" id="id_house" size="12" maxlength="30" value={{ entry.main_ip }}></td>
            <td><INPUT type="text" name="house" id="id_house" size="18" maxlength="30" value={{ entry.mac }}></td>
            <td><INPUT type="text" name="house" id="id_house" size="12" maxlength="30" value={{ entry.sw_ip }}></td>
            <td><INPUT type="text" name="house" id="id_house" size="4" maxlength="30" value={{ entry.sw_port }}></td>
            <td><a href="." class="flat-grey-button" rel="chg">Изменить</a></td>
        </form>
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block javascript %}
<script language="javascript" type="text/javascript">
     $("a[rel^='menu']").click(function (event) {
        event.preventDefault();
        var key = $(this).attr("name");
        var k = key.split("/");
        console.log(k[0],k[1],k[2]);
        switch(k[0]){
            case "users":
                var path="//127.0.0.1:8000/clients/"+k[1]+"/"+k[2]+"/";
                break;

            case "ports":
                var path="//127.0.0.1:8000/ports/"+k[1]+"/"+k[2]+"/";
                break; 
        }
        $("#content").load(path);
    });
</script>
{% endblock %}