{% extends "base.html" %}
{% load filterfortree %}
{% block content %}
{% include "menubuttons.html" %}
<div id="table-div">
{% for switch in sw_query %}
<b>{{ switch.sw_ip }}</b>
<table class="users-table" id="usertable">
    <tr>
        <td>Порт</td>
        <td>Статус порта</td>
        <td>Состояние линка</td>
        <td>Доверенный</td>
        <td>Адрес</td>
        <td>Состояние порта</td>
        <td>Примечание</td>
        <td>Изменить</td>
        <td>PortSecurity</td>
    </tr>
    {% with portnumber=switch.sw_ip|get_by_key:ports %}
    {% for iport in portnumber|times %}
        {% with port=iport|add:1 %}
            <tr class="table-row">
            <td> {{ port }} </td>
            

            {% with switch_ip=switch.sw_ip %}
                    {% with pp=port|stringformat:"d" %}
                        {% with p=switch_ip|add:":"|add:pp %}
                            {% if p|check_port:status_ports == True %}
                                <td><label id="yeslbl"><input type="checkbox" id="portstatus" name={{ p|add:":"|add:st_id|add:":"|add:ho_id }} checked="checked" />UP</label></td>
                            {% else %}
                                <td><label id="nolbl"><input type="checkbox" id="portstatus" name={{ p|add:":"|add:st_id|add:":"|add:ho_id }} />DOWN</label></td>
                            {% endif %}


                            {% if p|check_link:status_links == True %}
                                <td><label id="yeslbl">UP</label></td>
                            {% else %}
                                <td><label id="nolbl">DOWN</label></td>
                            {% endif %}


                            {% if p|get_by_key:status_trust %}
                                <td><label id="yeslbl"><input type="checkbox" id="trust" name={{ p|add:":"|add:st_id|add:":"|add:ho_id }} checked="checked" />ДА</label></td>
                            {% else %}
                                <td><label id="nolbl"><input type="checkbox" id="trust" name={{ p|add:":"|add:st_id|add:":"|add:ho_id }} />НЕТ</label></td>
                            {% endif %}

                            {% with address=p|get_by_key:port_address %}
                                <td><b><center>{{ address }}</center></b></td>
                            {% endwith %}

                            <form action='.' method="post" id={{ p }}>

                            {% csrf_token %}
                            <input type="hidden" name="sn" value={{ switch.sw_sn }}>
                            <input type="hidden" name="port" value={{ port }}>
                            <td>
                            <select name="type">
                                {% for type in port_types %}
                                    {% with t=p|get_by_key:port_type %}
                                        {% if t == type.id %}
                                            <option value={{ type.id }} selected="selected">{{ type.sw_info }}</option>
                                        {% else %}
                                            <option value={{ type.id }}>{{ type.sw_info }}</option>
                                        {% endif %}
                                    {% endwith %}
                                {% endfor %}
                            </select>
                            </td>


                            {% with memo=p|get_by_key:port_memo %}
                                <td><INPUT type="text" name="memo" maxlength="5" value={{ memo }}></td>
                            {% endwith %}

                    

                            {% with r=port|stringformat:"d" %}
                                <td><a href="." class="flat-grey-button" name={{ p|add:'/'|add:st_id|add:'/'|add:ho_id }} rel="chg">Изменить</a></td>
                            {% endwith %}

                            {% with r=forloop.counter|stringformat:"d" %}
                                <td><a href="." class="flat-grey-button" name={{ r }} rel="portsec">PortSecurity</a></td>
                            {% endwith %}

                            </form>
                        {% endwith %}
                    {% endwith %}

                    



            {% endwith %}
        {% endwith %}
        </tr>
    {% endfor %}
    {% endwith %}
</table>
<br>

{% endfor %}
</div>
{% endblock %}


{% block javascript %}
<script type="text/javascript" src='{{ STATIC_URL }}js/menu_buttons.js'></script>
<script type="text/javascript" src='{{ STATIC_URL }}js/switches.js'></script>
{% endblock %}