		<td width="5%"><INPUT type="text" name="house" id="id_house" size="4" maxlength="30" value={{ entry.house }}></td>
		<td width="5%"><INPUT type="text" name="flat" id="id_flat" size="4" maxlength="30" value={{ entry.flat }}></td>
		<td width="5%"><INPUT type="text" name="dogovor" id="id_dogovor" size="5" maxlength="30" value={{ entry.dogovor }}></td>
		<td width="5%"><INPUT type="text" name="ip" id="id_ip" size="12" maxlength="30" value={{ entry.ip }}></td>
		<td width="5%"><INPUT type="text" name="main_ip" id="id_main_ip" size="12" maxlength="30" value={{ entry.main_ip }}></td>